body .light {
  --background-color-one: rgb(252, 187, 235);
  --background-color-two: rgb(246, 246, 111);
  --primary-color: rgb(0, 0, 0);
  --primary-color-50: rgba(0, 0, 0, 0.5);
  --secondary-color: white;
  --secondary-color-50: rgba(255, 255, 255, 0.5);
  --confirm-primary-color: rgb(8, 134, 8);
  --confirm-secondary-color: rgb(11, 226, 11);
  --attention-color: rgb(250, 5, 185);
}
