:root {

    --font-size-m: 24px;
    --font-line-m: 32px;
    --image-width-m: 40px;
    --height-header-m: 70px;


    --font-size-l: 32px;
    --font-line-l: 40px;
    --image-width-l: 50px;
    --height-header-l: 100px;

}